
export(D1_logistic)
export(D1_cox)
export(psfmi_D3)
export(psfmi_lr)
export(psfmi_coxr)
export(psfmi_perform)
export(mivalext_lr)
export(psfmi_mm)
export(psfmi_mm_multiparm)
export(psfmi_stab)
export(pool_performance)
export(pool_intadj)

importFrom("stats", glm)
importFrom("stats", coef)
importFrom("stats", binomial)
importFrom("stats", vcov)
importFrom("stats", formula)
importFrom("stats", as.formula)
importFrom("stats", median)
importFrom("stats", model.frame)
importFrom("stats", model.matrix)
importFrom("stats", var)
importFrom("stats", pf)
importFrom("survival", coxph)
importFrom("rms", validate)
importFrom("rms", rcs)
importFrom("rms", lrm.fit)
importFrom("stats", logLik)
importFrom("stats", predict)
importFrom("stats", quantile)
importFrom("stats", update)
importFrom("pROC", roc)
importFrom("ResourceSelection", hoslem.test)
importFrom("ggplot2", theme_set, theme_bw, element_blank,
  stat_smooth, facet_wrap, geom_abline, aes_string,
  geom_point, ggplot, scale_x_continuous, scale_y_continuous,
  theme)
importFrom("dplyr", group_by, sample_n, n, group_by_all,
  arrange, count, desc, select, bind_rows, mutate_if,
  group_split, filter)
importFrom(magrittr,"%>%")
importFrom("rsample", bootstraps)
importFrom("purrr", is_empty, map_int, map, transpose,
  pluck)
importFrom("tidyr", nest, unnest, replace_na)
importFrom("tibble", as_tibble)
importFrom("lme4", lmer, glmer, fixef)
importFrom("mice", mice, pool, complete)
importFrom("mitml", testModels)
importFrom("foreign", read.spss)
importFrom("mitools", MIcombine, imputationList)




