
export(D1_logistic)
export(D1_cox)
export(psfmi_MR)
export(psfmi_lr)
export(psfmi_coxr)

importFrom("stats", glm)
importFrom("stats", coef)
importFrom("stats", binomial)
importFrom("stats", vcov)
importFrom("stats", formula)
importFrom("stats", as.formula)
importFrom("stats", median)
importFrom("stats", model.frame)
importFrom("stats", model.matrix)
importFrom("stats", pf)
importFrom("crayon", red)
importFrom("survival", coxph)
